* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.sonuc {
    font-size: 2.5rem;
    color: white;
    height: 80px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: right;
    border: none;
}
.calculator {
    width: 400px;
    border: 1px solid #ccc;
    position:absolute;
    left: 200px ;
    
}
.btn {
    height: 60px;
}
.calc-button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.esittir{
    height: 100%;
    grid-area: 2/4/6/5;
}